<!DOCTYPE html>
<html>
{% load static %}
{% load custom_filters %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        HomePage
        {% endblock %}
    </title>

    <script src="{% static 'workshop_app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/popper.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/toastr.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    {% block extra-dependencies %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'workshop_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'workshop_app/css/toastr.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'workshop_app/css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'workshop_app/css/font-awesome.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- React Integration -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <link rel="stylesheet" href="{% static 'workshop_app/css/modern-ui.css' %}">

    {% block extra-custom-scripts %}
    {% endblock %}

</head>

<body>
    {% block header %}
    <div id="react-navbar-root"></div>
    <!-- Django Context injection for React Components -->
    <script>
        window.DJANGO_CONTEXT = {
            staticUrl: "{% static 'workshop_app/' %}",
            // prettier-ignore
            isAuthenticated: {% if user.is_authenticated %}true{% else %} false{% endif %},
        isInstructor: false {% for group in request.user.groups.all %} {% if group.name == 'instructor' %}|| true{% endif %} {% endfor %},
        userFullName: "{{ request.user.get_full_name|title|escapejs }}",
            urls: {
            home: "{% if user.is_authenticated %}{% url 'workshop_app:index' %}{% else %}{{request.scheme}}://{{request.get_host}}{% endif %}",
                statsPublic: "{% url 'statistics_app:public' %}",
                    statsTeam: "{% url 'statistics_app:team' %}",
                        statusInstructor: "{% url 'workshop_app:workshop_status_instructor' %}",
                            propose: "{% url 'workshop_app:propose_workshop' %}",
                                workshopTypes: "{% url 'workshop_app:workshop_type_list' %}",
                                    profile: "{% url 'workshop_app:view_own_profile' %}",
                                        changePassword: "{% url 'password_change' %}",
                                            logout: "{% url 'workshop_app:logout' %}",
                                                login: "{% url 'workshop_app:login' %}",
                                                    register: "{% url 'workshop_app:register' %}",
                                                        passwordReset: "{% url 'password_reset' %}"
        }
        };
    </script>
    <script type="text/babel" src="{% static 'workshop_app/react/components.js' %}"></script>
    <script type="text/babel" src="{% static 'workshop_app/react/Navbar.js' %}"></script>
    <script type="text/babel">
        const navRoot = ReactDOM.createRoot(document.getElementById('react-navbar-root'));
        navRoot.render(<window.ReactComponents.Navbar />);
    </script>
    {% endblock %}

    <div class="base-content">
        {% block content %}
        <h1>Base Template Content. Please override me</h1>
        {% endblock %}
    </div>

    <script>
        {% if messages %}
        {% for message in messages %}
        toastr[{% if message.tags %} "{{ message.tags }}" {% else %} "info" {% endif %}]("{{ message }}");
        {% endfor %}
        {% endif %}
    </script>

</body>
<footer class="footer">
    {% block footer %}
    <div class="container">
        Powered by FOSSEE, IIT Bombay
    </div>
    {% endblock %}
</footer>

</html>