{% extends 'workshop_app/base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div id="react-login-root"></div>
    <script>
      window.DJANGO_CONTEXT = window.DJANGO_CONTEXT || {};
      window.DJANGO_CONTEXT.csrfToken = "{{ csrf_token }}";
      window.DJANGO_CONTEXT.formErrors = [
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      "{{ field.label }}: {{ error|escapejs }}",
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  "{{ error|escapejs }}",
              {% endfor %}
          {% endif %}
      ];
    </script>
    <script type="text/babel" src="{% static 'workshop_app/react/LoginForm.js' %}"></script>
    <script type="text/babel">
      const loginRoot = ReactDOM.createRoot(document.getElementById('react-login-root'));
      loginRoot.render(<window.ReactComponents.LoginForm />);
    </script>
{% endblock %}
