{% extends "workshop_app/base.html" %}
{% load static %}

{% block title %} Forgot Password {% endblock %}

{% block content %}
<div id="react-forgot-password-root"></div>
<script>
    window.DJANGO_CONTEXT = window.DJANGO_CONTEXT || {};
    window.DJANGO_CONTEXT.csrfToken = "{{ csrf_token }}";
    window.DJANGO_CONTEXT.urls = window.DJANGO_CONTEXT.urls || {};
    window.DJANGO_CONTEXT.urls.login = "{% url 'workshop_app:index' %}";

    window.DJANGO_CONTEXT.formErrors = [
        {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    "{{ field.label }}: {{ error|escapejs }}",
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    "{{ error|escapejs }}",
        {% endfor %}
    {% endif %}
      ];
</script>
<script type="text/babel" src="{% static 'workshop_app/react/ForgotPasswordForm.js' %}"></script>
<script type="text/babel">
    const root = ReactDOM.createRoot(document.getElementById('react-forgot-password-root'));
    root.render(<window.ReactComponents.ForgotPasswordForm />);
</script>
{% endblock content %}